.nav__item a {
    font-weight: 700;
    color: #ffff;
    font-size: 20px;
    text-transform: uppercase;

}



.nav__item {
    padding: 15px;
}

.nav {
     display: flex;
     background-color: #111;
     height: 80px;
     align-items: center;

}
