.nav__item a {
    font-weight: 700;
    color: #ffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 8px;

}


.nav__item:hover a {
    background: rgba(128,128,128,.3);

}



.nav__item {
    padding: 15px;
}

.nav ul {
     display: flex;
     background-color: #111;
     height: 80px;
     align-items: center;

}


.nav__logo {
   height: 70px;
}
